{% extends 'pages/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}문장 관리{% endblock %}

{% block content %}

<div style="overflow-y: auto">
    {% include "llm/ai_common.html" with page_title="문장 관리 AI" object_type="SA" %}
</div>

<!-- <script src="{% static 'js/ai_actions.js' %}"></script> -->
<script> 
    document.addEventListener("DOMContentLoaded", function() {

        if (!document.getElementById("object_type")) {
            const hiddenInput = document.createElement("input");
            hiddenInput.type = "hidden";
            hiddenInput.id = "object_type";
            hiddenInput.value = "SA";
            document.body.appendChild(hiddenInput);
        }
        
        initChatActions({
            pageType: "sentences",
            csrfToken: "{{ csrf_token }}",
            urls: {
                preview: "{% url 'ai_llm_preview' %}",
                save: "{% url 'ai_sentences_save' %}",
                delete: "{% url 'ai_sentences_delete' %}",
                prompt_save: "{% url 'ai_prompt_sample_save' %}"
            },
            context: {
                selected_objectuid: "{{ selected_objectuid|default:'' }}",
                selected_chapteruid: "{{ selected_chapteruid|default:'' }}",
                selected_objectnm: "{{ selected_objectnm|default:'' }}",
                selected_datauid: "{{ selected_datauid|default:'' }}",
                object_type: "{{ object_type|default:'' }}"
            }
        });
    });

    // 🔹 뒤로가기
    document.getElementById("back-btn").addEventListener("click", () => {
        const chapteruid = "{{ selected_chapteruid|escapejs }}";
        const objectuid = "{{ selected_objectuid|escapejs }}";
        const chapter_template_chapteruid = sessionStorage.getItem('chapter_template_chapteruid');
        const chapter_objects_read_genchapteruid = sessionStorage.getItem('chapter_objects_read_genchapteruid');
        
        if (chapter_template_chapteruid) {
            window.location.href =
            `/master/chapter_template/?chapteruid=${chapter_template_chapteruid}`;
        } else if (chapter_objects_read_genchapteruid) {
            window.location.href =
            `/req/chapter_objects_read/?genchapteruid=${chapter_objects_read_genchapteruid}`;
        } else if (chapteruid && objectuid) {
            window.location.href =
            `/master/object/?chapteruid=${chapteruid}&objectuid=${objectuid}`;
        } else if (chapteruid) {
            window.location.href =
            `/master/object/?chapteruid=${chapteruid}`;
        } else {
            window.location.href = `/master/object/`;
        }
    });
</script>
</body>


{% endblock %}

