{% extends 'pages/base.html' %}
{% load static %}
{% block title %}문서{% endblock %}

{% block content %}
<style>  
  :disabled{
    background-color: var(--secondary-200);
  }

  .search-btn:disabled{
    background-color: transparent;
  }

  .confirm-btn:disabled{
    background-color: transparent;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* 버튼 로딩 상태 */
  .btn-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.7;
  }

  .btn-loading .btn-spinner {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s ease-in-out infinite;
    margin-right: 6px;
  }

  .info{
    text-align: center;
  }
</style>

<div class="page-title">
  <div style="display: flex; align-items: center;">
    <div class="gradient-bar"></div>
    <div>
      문서: {{ docnm }}
    </div>
  </div>

  <div style="display: flex; align-items: center;">
    <button type="button" class="icon-btn" id="help-btn">
      <img src="{% static 'icons/help.svg' %}" title="도움말" class="icon-img config-icon">
    </button>
  </div>
</div>

<!-- 문서 선택 및 작성기간 필터 -->
<div class="page-title" >
  <div class="filter-item">
    <form method="GET" action="" class="filter-item" style="gap: 20px;" >
      <!-- 작성기간 필터 -->
      <div class="filter-item">
        <label style="font-weight: bold;">생성 기간:</label>
        <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
        <label style="width: 20px; margin-left: 8px; font-weight: bold; text-align: center;"> ~ </label>
        <input type="date" name="end_date" id="end_date" value="{{ end_date }}">
        <button type="button" class="btn btn-link period-btn" data-months="3"  style="margin-left: 20px;">3개월</button>
        <button type="button" class="btn btn-link period-btn" data-months="12" style="margin-left: 15px;">1년</button>
      </div>

      <div class="filter-item">
        <button type="submit" class="icon-btn" style="border: none; background-color: transparent;"><img src="{% static 'icons/search.svg' %}" class="icon-img config-icon" title="조회"/></button>
      </div>
    </form>
  </div>
</div>

<div style="display: flex; margin-top: 20px; gap: 20px;">

<!-- 결과 테이블 -->
  <div style="flex: 1;">
    <h3>문서 목록</h3>
    {% if data %}
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th style="width: 18%;">작성문서명</th>
          <th style="width: 15%;">매개변수</th>
          <th style="width:  5%;">작성자</th>
          <th style="width:  5%;">업로더</th>
          <th style="width:  9%;">작성<br>일시</th>
          <th style="width:  9%;">업로드<br>일시</th>
          <th style="width:  5%;">마감</th>
          <th style="width:  5%;">마감자</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr data-gendocuid="{{ row.gendocuid }}"
            data-gendocnm="{{ row.gendocnm }}"
            data-paramvalue="{{ row.paramvalue }}"
            data-finalnm="{{ row.finalnm }}"
            data-makeyn="{{ row.makeyn }}"
            data-params="{{ row.params }}"
            data-closeyn="{{ row.closeyn }}"
        >
          <td>{{ row.gendocnm }}</td>
          <td>{{ row.finalnm_joined|default_if_none:'' }}</td>
          <td class="info">{{ row.createuser|default_if_none:'' }}</td>
          <td class="info">{{ row.updateuser|default_if_none:'' }}</td>
          <td class="info">{{ row.createfiledts|default_if_none:'' }}</td>
          <td class="info">{{ row.updatefiledts|default_if_none:'' }}</td>
          <td class="info">{% if row.closeyn %}√{% else %}{% endif %}</td>
          <td class="info">{{ row.closeuser|default_if_none:'' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>생성 된 문서가 없습니다.</p>
    {% endif %}
  </div>

  <div style="flex: 0.75;">
    <!-- 문서 -->
    <div>
      <h3>문서 구성</h3>
      <!-- 작성문서 명 -->
      <div div class="form-group-left">
          <label>문서명</label>
          <input class="input" for="docnm"  id="docnm" name="docnm" style="height: 25px;" placeholder="문서명을 입력하시오." {% if request.session.user.editbuttonyn == "N" %}disabled{% else %}{%endif%}>
          <input class="input" id="input_gendocuid" name="input_gendocuid" hidden >
      </div>

      <!-- 안 보이는 더미 필드 -->
      <input type="text" style="position: absolute; left: -9999px; top: -9999px;" autocomplete="off">
    </div>

    <div>
      <h3>매개변수 입력</h3>
      <form method="post" id="data_form">
        {% csrf_token %}
        <input type="hidden" id="docid_inp" value="{{ docid }}">
        <!-- 매개변수 테이블 영역 -->
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th style="width: 30%;">매개변수명</th>
              <th style="width: 35%;">예시값</th>
              <th style="width: 35%;">입력값</th>
            </tr>
          </thead>
          <tbody>
            {% for param in dataparams %}
            <tr data-paramuid="{{ param.paramuid}}"
                data-paramnm="{{ param.paramnm|default_if_none:'' }}"
                data-datauid="{{ param.datauid|default_if_none:'' }}"
                data-keycolnm="{{ param.keycolnm|default_if_none:'' }}"
                data-nmcolnm="{{ param.nmcolnm|default_if_none:''}}"
            >
              <td>
                {{ param.paramnm }}
                <input type="hidden" name="paramnm_{{ forloop.counter0 }}" value="{{ param.paramnm }}">
                <input type="hidden" name="paramuid_{{ forloop.counter0 }}" value="{{ param.paramuid }}">
                <input type="hidden" name="orderno_{{ forloop.counter0 }}" value="{{ param.orderno }}">
              </td>
              <td>{{ param.samplevalue }}</td>
                <td>
                  <!-- 🔹 화면 표시용 (finalnm) -->
                  <input type="text"
                        class="form-control param-value-display"
                        name="param_display_{{ forloop.counter0 }}"
                        data-paramnm="{{ param.paramnm }}"
                        value="{{ param.value|default_if_none:'' }}"
                        {% if param.datauid %} disabled {% else %}{% endif %} >

                  <!-- 🔹 실제 저장용 (paramvalue) -->
                  <input type="hidden"
                        name="param_value_{{ forloop.counter0 }}"
                        class="param-value-hidden"
                        data-paramnm="{{ param.paramnm }}"
                        value="{{ param.value|default_if_none:'' }}">
                  {% if param.datauid %}
                  <button id="search-btn" type="button" class="icon-btn search-btn"
                    data-datauid="{{ param.datauid }}"
                    data-paramnm="{{ param.paramnm}}">
                    <div class="icon-wrapper">
                      <img src="{% static 'icons/search.svg' %}" class="icon-img-small new-icon" title="값 찾기">
                      <span class="icon-label">값 찾기</span>
                    </div>
                  </button>
                  {% endif %}
                </td>
              </tr>
            {% empty %}
            <tr>
              <td colspan="3" style="text-align: center;">매개변수가 없습니다.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <!-- 몇 개의 파라미터가 있는지 전달 -->
        <input type="hidden" name="param_count" value="{{ dataparams|length }}">
      </form>
    </div>

    <div>
      <!-- 저장 버튼 -->
      <div class="button-group" style="gap: 35px;">
        {% if request.session.user.editbuttonyn == "Y" %}
        <div class="button-group">
          <button id="reset-btn" type="button" class="icon-btn">
            <div class="icon-wrapper">
              <img src="{% static 'icons/new.svg' %}" class="icon-img new-icon" title="신규">
              <span class="icon-label">신규</span>
            </div>
          </button>
          <button id="save-btn" type="button" class="icon-btn">
            <div class="icon-wrapper">
              <img src="{% static 'icons/save.svg' %}" class="icon-img save-icon" title="저장">
              <span class="icon-label">저장</span>
            </div> 
          </button>
          <button id="delete-btn" type="button" class="icon-btn">
            <div class="icon-wrapper">
              <img src="{% static 'icons/delete.svg' %}" class="icon-img del-icon" title="삭제">
              <span class="icon-label">삭제</span>
            </div>
          </button>
          {% if request.session.user.projectmanager == "Y" %}
          <button id="confirm-btn" type="button" class="icon-btn confirm-btn" style="display: none;">
            <div class="icon-wrapper">
              <img src="{% static 'icons/lock.svg' %}" id="confirm-icon" class="icon-img save-icon" title="문서 마감">
              <span class="icon-label">문서 마감</span>
            </div>
          </button>
          <button id="disconfirm-btn" type="button" class="icon-btn confirm-btn" style="display: none;">
            <div class="icon-wrapper">
              <img src="{% static 'icons/lock-open.svg' %}" id="disconfirm-icon" class="icon-img save-icon" title="문서 마감">
              <span class="icon-label">마감 해제</span>
            </div>
          </button>
          {% endif %}
        </div>
        {% endif %}
        <div class="button-group">
          <button id="docRead" type="button" class="icon-btn">
            <div class="icon-wrapper">
              <img src="{% static 'icons/doc-preview.svg' %}" class="icon-img config-icon"title="문서 조회">
              <span class="icon-label">문서 조회</span>
            </div>
          </button>
          <button id="chapterRead" type="button" class="icon-btn">
            <div class="icon-wrapper">
              <img src="{% static 'icons/chapter-preview.svg' %}" class="icon-img config-icon" title="챕터 조회">
              <span class="icon-label">챕터 조회</span>
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="filter-item" id="btns_bot" style="display: none; justify-content: center; margin-top: 10px; gap: 10px;">
    </div>
  </div>
</div>

<!-- 로딩 오버레이 -->
<div id="formatLoading">
  <div class="loading-content">
    <div class="spinner"></div>
    <div id="loading-text" style="text-align: center;"></div>
    <div >잠시만 기다려 주세요.</div>
  </div>
</div>

{% include "pages/modal_search_params.html" %}

<script>
  const isEditinYn = "{{ request.session.user.editbuttonyn }}" === "Y";
  let isProjectManager = "{{ request.session.user.projectmanager }}" === "Y";

  if (!isEditinYn){
    isProjectManager = false;
  }

  // 작성 된 항목 조회
  function doc_show(gendocuid, type) {
    if (!gendocuid) {
      console.log('값이 없다')
      alert("선택된 문서가 없습니다.")
      return
    }

    const url = `/req/chapter_read/?sep=doc&type=${type}&gendocuid=${gendocuid}`;
    // window.open(url);
    location.href = url;
    // console.log(url);
  }

  // 작성 된 챕터 조회
  function chapter_show(data_gendocuid) {
    if (!data_gendocuid) {
      console.log('값이 없다')
      alert("선택된 문서가 없습니다.")
      return
    }
  }

  // 로딩 상태 관리 함수들
  function doc_list_showLoading(type) {
    const overlay = document.getElementById('formatLoading');
    const text = document.getElementById('loading-text');
    
    // 오버레이 표시
    overlay.style.display = 'flex';
    
    if (type == 'save'){
      text.textContent = '문서 생성 중'
    } else if (type == 'param'){
      text.textContent = '파라미터 값 변경 중'
    } else if (type == 'upload'){
      text.textContent = '문서 업로드 중'
    } else if (type == 'delete'){
      text.textContent = '문서 삭제 중'
    } else if (type == 'open'){
      text.textContent = '문서 마감 해제 중'
    } else if (type == 'close'){
      text.textContent = '문서 마감 처리 중'
    }
  }

  function doc_list_hideLoading() {
    const overlay = document.getElementById('formatLoading');
    const text = document.getElementById('loading-text');
    
    // 오버레이 숨기기
    overlay.style.display = 'none';
    text.textContent = '';
  }

  // 문서 업로드
  function upload_doc_file(gendocuid) {
    const fileInput = document.getElementById(`file_input`);
    const file = fileInput.files[0];
    if (!file) return;

    const formData = new FormData();
    formData.append('file', file);
    formData.append('gendocuid', gendocuid);

    // 로딩 시작
    doc_list_showLoading('upload');

    fetch('/req/gendoc_file_upload/', {
      method: 'POST',
      credentials: "include",   // 👈 여기
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: formData
    })
    .then(res => res.json())
    .then(data => {
      if (data.success) {
        // 로딩 종료
        doc_list_hideLoading();
        alert('업로드 완료');
        window.location.reload();
      } else {
        alert('업로드 실패: ' + data.message);
      }
    })
    .catch(err => {
      // 로딩 종료
      doc_list_hideLoading();
      alert('오류: ' + err.message);
    });
  }

  function movepage(gendocuid) {
    const params = new URLSearchParams(window.location.search);
    const str = params.get('start_date');
    const end = params.get('end_date');

    sessionStorage.setItem('doc_list_gendocuid', `${ gendocuid}`);
    sessionStorage.setItem('doc_list_start_date', `${ str }`);
    sessionStorage.setItem('doc_list_end_date', `${ end }`);
    sessionStorage.setItem('path', 'req_doc_list');
    location.href=`{% url 'req_chapters_read' %}?gendocs=${ gendocuid }`;
  }

  if (isEditinYn){
    // 양식 신규
    document.getElementById("reset-btn").addEventListener("click", async function() {
      const docNmInput = document.getElementById('docnm')
      const gendocuid = document.getElementById('input_gendocuid')
      const btns_bot = document.getElementById('btns_bot')
      const docRead = document.getElementById('docRead')
      const chapterRead = document.getElementById('chapterRead')

      const defaultnm = "{{docnm}}_";
      // console.log(defaultnm)
      // 1️⃣ 문서명 초기화
      docNmInput.value = defaultnm;
      gendocuid.value = "";
      
      btns_bot.style.display = "none"
      docRead.setAttribute("onclick", `doc_show(null, null)`)
      chapterRead.setAttribute("onclick", `chapter_show(null)`)

      // 2️⃣ 매개변수 입력란 초기화
      document.querySelectorAll(".param-value-display").forEach(input => {
        input.value = "";
        
        // datauid가 있는지 확인 (tr에서 가져오기)
        const tr = input.closest('tr');
        const datauid = tr ? tr.dataset.datauid : null;
        
        if (datauid) {
          input.disabled = true; // datauid 있으면 비활성화
        } else {
          input.disabled = false; // datauid 없으면 활성화
        }
        
        // fromSearch 플래그 제거
        delete input.dataset.fromSearch;
      });

      document.querySelectorAll(".param-value-hidden").forEach(input => {
        input.value = "";
      });

      // ✅ 검색 버튼 활성화
      document.querySelectorAll(".search-btn").forEach(btn => {
        btn.disabled = false;
      });

      // 3️⃣ 왼쪽 테이블 행 하이라이트 제거
      document.querySelectorAll("tr.selected-row").forEach(row => {
        row.classList.remove("selected-row");
      });
    
    })



    // 양식 저장
    document.getElementById("save-btn").addEventListener("click", async function() {
      const form = document.getElementById("data_form");
      const formData = new FormData(form);
      const paramCount = parseInt(formData.get("param_count"));

      const jsonArray = [];

      // 매개변수 값 수집
      for (let i = 0; i < paramCount; i++) {
          jsonArray.push({
              paramuid: formData.get(`paramuid_${i}`),
              paramnm: formData.get(`paramnm_${i}`),
              orderno: formData.get(`orderno_${i}`),
              paramvalue: formData.get(`param_value_${i}`)
          });
      }

      // console.log(jsonArray)
      // 모든 입력값 확인
      const emptyParams = jsonArray.filter(p => !p.paramvalue || p.paramvalue.trim() === "");
      if (emptyParams.length > 0) {
          const missingNames = emptyParams.map(p => `• ${p.paramnm}`).join("\n");
          alert(`입력되지 않은 매개변수가 있습니다:\n\n${missingNames}`);
          return;  // 저장 중단
      }

      // 문서명 및 uid 확인
      const docid = "{{ request.session.user.docid }}";
      const docnm = document.getElementById("docnm").value;
      const genuid = document.getElementById("input_gendocuid").value;

      if (!docnm) {
          alert("문서 명을 입력해주세요.");
          return;
      }

      
      if (!genuid) {
        doc_list_showLoading('save')
        try {
          // ✅ 첫 번째 요청: req_doc_check_objects
          const res1 = await fetch('/req/req_doc_check_objects/', {
            method: 'POST',
            credentials: "include",   // 👈 여기
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                docid: docid
            })
          });

        const data1 = await res1.json();
        // console.log("첫 번째 결과:", data1);

        if (data1.success) {
          if (data1.message === "항목 미설정 존재") {
            const unusedList = data1.objects.map(obj => obj.text);
            alert(`항목 미설정 존재:\n\n${unusedList.join('\n')}`);
          }
        }

        // ✅ 두 번째 요청: req_doc_check_params (첫 번째 완료 후 실행)
        const res2 = await fetch('/req/req_doc_check_params/', {
            method: 'POST',
            credentials: "include",   // 👈 여기
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                docid: docid,
                docnm: docnm,
                params: jsonArray
            })
          })
          .then(response => response.json())
          .then(data => {
              // console.log(data)
              if (data.success){
                // console.log(data.message)
                if (data.message === "데이터존재") {
                  const confirmed = confirm('문서명 및 매개변수 값이 이미 존재하고 있습니다.\n그래도 진행하시겠습니까??')
                  
                  if(!confirmed){
                    alert('작업을 취소 합니다.')
                    doc_list_hideLoading()
                    return;
                  }
                  else {
                    alert('작업을 진행 합니다.')
                    fetch('/req/req_doc_save_params/', {
                      method: 'POST',
                      credentials: "include",   // 👈 여기
                      headers: {
                          'Content-Type': 'application/json',
                          'X-CSRFToken': '{{ csrf_token }}'
                      },
                      body: JSON.stringify({
                          gendocuid: genuid,
                          docid: docid,
                          docnm: docnm,
                          params: jsonArray
                      })
                    })
                    .then(response => response.json())
                    .then(data => {
                      if (data.success){  
                        alert('작성 완료 되었습니다.')
                        doc_list_hideLoading()
                        // window.location.reload()
                        // alert(data.message)
                        movepage(data.gendocuid)
                        // window.location.href = "{% url 'req_doc_list' %}?docid={{ request.session.user.docid }}";
                      }
                      else {
                        alert(data.message)
                        doc_list_hideLoading()
                      }
                    })
                    .catch(error => {
                      alert('문서 생성 중 오류가 발생했습니다: ' + error.message, 'error');
                      doc_list_hideLoading()
                    })
                  }
                }
                else {
                  // alert(data.message)
                  fetch('/req/req_doc_save_params/', {
                    method: 'POST',
                    credentials: "include",   // 👈 여기
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        gendocuid: genuid,
                        docid: docid,
                        docnm: docnm,
                        params: jsonArray
                    })
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.success){  
                      alert('작성 완료 되었습니다.')
                      doc_list_hideLoading()

                      movepage(data.gendocuid)
                    }
                    else {
                      alert(data.message)
                      doc_list_hideLoading()
                    }
                  })
                  .catch(error => {
                    alert('문서 생성 중 오류가 발생했습니다: ' + error.message, 'error');
                    doc_list_hideLoading()
                  })
                }

              } else {
                alert(data.message)
                doc_list_hideLoading()
              }
          })
          .catch(error => {
              alert('문서 생성 중 오류가 발생했습니다: ' + error.message, 'error');
              doc_list_hideLoading()
          });

        } catch(error){
          alert('문서 생성 중 오류가 발생했습니다: ' + error.message, 'error');
          doc_list_hideLoading()
        } 
      } else {
        doc_list_showLoading('param')
        // console.log('일반 저장: ', genuid)
        fetch('/req/req_doc_update_params/', {
          method: 'POST',
          credentials: "include",   // 👈 여기
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({
              gendocuid: genuid,
              docid: docid,
              docnm: docnm,
              params: jsonArray
          })
        })
        .then(response => response.json())
        .then(data => {
          if (data.success){  
            alert('파라미터가 변경 되었습니다.')
            doc_list_hideLoading()
            window.location.reload()
            // alert(data.message)
            // window.location.href = "{% url 'req_doc_list' %}?docid={{ request.session.user.docid }}";
          }
          else {
            alert(data.message)
            doc_list_hideLoading()
          }
        })
        .catch(error => {
          alert('파라미터 변경 중 오류가 발생했습니다: ' + error.message, 'error');
          doc_list_hideLoading()
        })
      }

    });

      // 문서 삭제
    document.getElementById("delete-btn").addEventListener("click", async function() {
      // 문서명 및 uid 확인
      const docid = "{{ request.session.user.docid }}";
      const docnm = document.getElementById("docnm").value;
      const genuid = document.getElementById("input_gendocuid").value;

      if (!genuid) {
          alert("선택된 문서가 없습니다.");
          return;
      }

      if (!confirm(`선택하신 문서: [${docnm}] 을/를 삭제 처리 하시겠습니까?\n관련 된 모든 데이터가 삭제 되며, 삭제 후 되돌릴 수 없습니다.`)){
        return;
      }
      doc_list_showLoading('delete')

      fetch('/req/req_doc_delete/', {
          method: 'POST',
          credentials: "include",   // 👈 여기
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({
              gendocuid: genuid,
          })
        })
        .then(response => response.json())
        .then(data => {
          if (data.success){  
            alert('문서가 삭제 처리 되었습니다.')
            doc_list_hideLoading()
            window.location.reload()
            // alert(data.message)
            // window.location.href = "{% url 'req_doc_list' %}?docid={{ request.session.user.docid }}";
          }
          else {
            alert(data.message)
            doc_list_hideLoading()
          }
        })
        .catch(error => {
          alert('데이터 저장 중 오류가 발생했습니다: ' + error.message, 'error');
        })

    })



    // 권한 있을 때만 활성
    if (isProjectManager){
      // 문서 마감
      document.getElementById("confirm-btn").addEventListener("click", async function() {
        // 문서명 및 uid 확인
        const docid = "{{ request.session.user.docid }}";
        const docnm = document.getElementById("docnm").value;
        const genuid = document.getElementById("input_gendocuid").value;

        if (!genuid) {
            alert("선택된 문서가 없습니다.");
            return;
        }

        if (!confirm(`선택하신 문서: ${docnm} 을/를 마감 처리 하시겠습니까?\n문서 마감 시 이후 작업은 불가합니다.`)){
          return;
        }

        doc_list_showLoading('close')

        fetch('/req/req_doc_close/', {
            method: 'POST',
            credentials: "include",   // 👈 여기
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                gendocuid: genuid,
            })
          })
          .then(response => response.json())
          .then(data => {
            if (data.success){  
              alert('문서가 마감 처리 되었습니다.')
              doc_list_hideLoading()
              window.location.reload()
              // alert(data.message)
              // window.location.href = "{% url 'req_doc_list' %}?docid={{ request.session.user.docid }}";
            }
            else {
              alert(data.message)
              doc_list_hideLoading()
            }
          })
          .catch(error => {
            alert('문서 마감 중 오류가 발생했습니다: ' + error.message, 'error');
            doc_list_hideLoading()
          })

      })

      // 문서 마감
      document.getElementById("disconfirm-btn").addEventListener("click", async function() {
        // 문서명 및 uid 확인
        const docid = "{{ request.session.user.docid }}";
        const docnm = document.getElementById("docnm").value;
        const genuid = document.getElementById("input_gendocuid").value;

        if (!genuid) {
            alert("선택된 문서가 없습니다.");
            return;
        }

        if (!confirm(`선택하신 문서: ${docnm} 을/를 마감 해제 처리 하시겠습니까?`)){
          return;
        }

        doc_list_showLoading('open')
        fetch('/req/req_doc_open/', {
            method: 'POST',
            credentials: "include",   // 👈 여기
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                gendocuid: genuid,
            })
          })
          .then(response => response.json())
          .then(data => {
            if (data.success){  
              alert('문서 마감 해제 되었습니다.')
              doc_list_hideLoading()
              window.location.reload()
              // alert(data.message)
              // window.location.href = "{% url 'req_doc_list' %}?docid={{ request.session.user.docid }}";
            }
            else {
              alert(data.message)
              doc_list_hideLoading()
            }
          })
          .catch(error => {
            alert('문서 마감 해제 중 오류가 발생했습니다: ' + error.message, 'error');
            doc_list_hideLoading()
          })

      })
    }


  }

document.addEventListener("DOMContentLoaded", function() {
  const rows = document.querySelectorAll("table tbody tr[data-gendocuid]");
  const docNmInput = document.getElementById("docnm");
  const gendocuid = document.getElementById('input_gendocuid')
  // For Buttons
  // const btns_top = document.getElementById('btns_top')
  // const rewrite = document.getElementById('rewrite')
  // const update = document.getElementById('update')
  // const file_input = document.getElementById('file_input')
  // const uploadBtn = document.getElementById('uploadBtn')
  const btns_bot = document.getElementById('btns_bot')
  const docRead = document.getElementById('docRead')
  docRead.setAttribute("onclick", `doc_show(null, null)`)
  const chapterRead = document.getElementById('chapterRead')
  chapterRead.setAttribute("onclick", `chapter_show(null)`)
  // For Date
  const periodButtons = document.querySelectorAll(".period-btn");
  const startDateInput = document.getElementById("start_date");
  // For Close
  const confirmbtn = document.getElementById("confirm-btn");
  const disconfirmbtn = document.getElementById("disconfirm-btn");

  periodButtons.forEach(btn => {
    btn.addEventListener("click", () => {
      const months = parseInt(btn.dataset.months);
      const now = new Date();
      const newStart = new Date(now.getFullYear(), now.getMonth() - months, now.getDate());

      // YYYY-MM-DD 포맷
      const yyyy = newStart.getFullYear();
      const mm = String(newStart.getMonth() + 1).padStart(2, '0');
      const dd = String(newStart.getDate()).padStart(2, '0');

      // 입력값만 갱신 (조회는 하지 않음)
      startDateInput.value = `${yyyy}-${mm}-${dd}`;
    });
  });

  rows.forEach(row => {
    row.addEventListener("click", function() {
      // 1️⃣ 기존 선택 제거
      rows.forEach(r => r.classList.remove("selected-row"));

      // 2️⃣ 현재 행 하이라이트
      this.classList.add("selected-row");

      // 3️⃣ 오른쪽 문서명 입력란 채우기
      // docnm
      const docNm = this.dataset.gendocnm || "";
      docNmInput.value = docNm;
      // gendocuid
      const data_gendocuid = this.dataset.gendocuid || "";
      gendocuid.value = data_gendocuid

      // ✅ 선택된 gendocuid 및 날짜 저장
      const params = new URLSearchParams(window.location.search);
      const str = params.get('start_date');
      const end = params.get('end_date');
      sessionStorage.setItem("doc_list_gendocuid", data_gendocuid);
      sessionStorage.setItem("doc_list_start_date", str)
      sessionStorage.setItem("doc_list_end_date", end)

      // 마감처리
      const closeyn = this.dataset.closeyn
      // console.log(closeyn)
      if (isProjectManager) {
        if (closeyn == 'True'){
          confirmbtn.style.display = 'none';
          disconfirmbtn.style.display = "flex";
        } else {
          confirmbtn.style.display = 'flex';
          disconfirmbtn.style.display = "none";
        }
      }
      

      // For Buttons
      // btns_top.style.display = "flex"
      // rewrite.setAttribute("onclick", `doc_show('${ data_gendocuid }', 'auto')`)
      // update.setAttribute("onclick", `doc_show('${ data_gendocuid }', 'upload')`)
      // file_input.setAttribute("onchange", `upload_doc_file('${ data_gendocuid }')`)
      // uploadBtn.setAttribute("onclick", `document.getElementById('file_input').click()`)
      btns_bot.style.display = "flex"
      docRead.setAttribute("onclick", `sessionStorage.setItem('doc_list_gendocuid', '${ data_gendocuid}');
                                           sessionStorage.setItem('doc_list_start_date', '${ str }');
                                           sessionStorage.setItem('doc_list_end_date', '${ end }');
                                           doc_show('${ data_gendocuid }', 'auto')`)
      chapterRead.setAttribute("onclick", `sessionStorage.setItem('doc_list_gendocuid', '${ data_gendocuid}');
                                           sessionStorage.setItem('doc_list_start_date', '${ str }');
                                           sessionStorage.setItem('doc_list_end_date', '${ end }');
                                           sessionStorage.setItem('path', 'req_doc_list');
                                           location.href='{% url 'req_chapters_read' %}?gendocs=${ data_gendocuid }'`)

      const makeyn = this.dataset.makeyn;
      // console.log(makeyn)
      // 4️⃣ 매개변수 값 반영
      const paramsStr = this.dataset.params; 
      // console.log('파라미터값: ', paramsStr.length)
      if (paramsStr.length > 1) {
        try {
          // 값 초기화
          document.querySelectorAll(".param-value-display").forEach(input => {
            input.value = "";
            input.disabled = false;
          });
          document.querySelectorAll(".param-value-hidden").forEach(input => {
            input.value = "";
            input.disabled = false;
          });

          const params = JSON.parse(paramsStr.replace(/'/g, '"')); // JSON 문자열 파싱
          params.forEach(p => {
            const display = document.querySelector(`.param-value-display[data-paramnm="${p.paramnm}"]`);
            const hidden = document.querySelector(`.param-value-hidden[data-paramnm="${p.paramnm}"]`);
            
            // ✅ 해당 paramnm에 해당하는 검색 버튼 찾기
            const tr = display ? display.closest('tr') : null;
            const search_btn = tr ? tr.querySelector('.search-btn') : null;

            if (display && hidden) {
              display.value = p.finalnm || p.paramvalue || "";
              hidden.value  = p.paramvalue || "";

              // 검색 사용한 경우만 플래그
              if (p.finalnm && p.finalnm !== p.paramvalue) {
                display.dataset.fromSearch = "true";
              }

              // ✅ datauid가 있으면 해당 입력칸 비활성화, 검색 버튼 활성화
              if (p.datauid) {
                display.disabled = true;
                if (search_btn) search_btn.disabled = false;
              } else {
                display.disabled = false;
                if (search_btn) search_btn.disabled = true; // datauid 없으면 검색버튼 비활성
              }

              // 이미 작성 된 사항이 있을 경우 전체 수정 X
              if (makeyn == 'n') {
                display.disabled = true;
                if (search_btn) search_btn.disabled = true;
              }

              if (isEditinYn) {
                display.disalbed = true;
                if (search_btn) search_btn.disabled = true;
              }
            }
          });
        } catch (err) {
          console.error("params 파싱 오류:", err);
        }
      } else {
        // console.log('CHeck??')
        if (isEditinYn) {
          document.querySelectorAll(".param-value-display").forEach(input => {
          input.value = "";
          input.disabled = true;
          });
          document.querySelectorAll(".param-value-hidden").forEach(input => {
            input.value = "";
            input.disabled = true;
          });
          document.getElementById('search-btn').disabled = true;
        } else {
          document.querySelectorAll(".param-value-display").forEach(input => {
          input.value = "";
          input.disabled = false;
          });
          document.querySelectorAll(".param-value-hidden").forEach(input => {
            input.value = "";
            input.disabled = false;
          });
          document.getElementById('search-btn').disabled = false;
        }
        
      }

      // paramvalue 하나만 들어있는 경우 대비
      const paramValue = this.dataset.paramvalue;
      if (paramValue && !this.dataset.params) {
        const inputs = document.querySelectorAll(".param-value-input");
        if (inputs.length === 1) inputs[0].value = paramValue;
      }
    });
  });

  const paramsValueData = JSON.parse('{{ params_value_json|escapejs }}');
  
  // 모든 검색 버튼에 이벤트 추가
  document.querySelectorAll(".search-btn").forEach(button => {
    button.addEventListener("click", function(e) {
      const datauid = e.currentTarget.dataset.datauid;
      const paramnm = e.currentTarget.dataset.paramnm;
      
      // 해당 행의 tr에서 keycolnm, nmcolnm 가져오기
      const tr = e.currentTarget.closest('tr');
      const keycolnm = tr.dataset.keycolnm;
      const nmcolnm = tr.dataset.nmcolnm;
      
      // console.log('모달 열기:', {datauid, paramnm, keycolnm, nmcolnm});
      
      showsearch_paramsModal(datauid, paramnm, keycolnm, nmcolnm, paramsValueData);
    });
  });

  document.querySelectorAll('tr[data-datauid]').forEach(tr => {
    const datauid = tr.dataset.datauid;
    const display = tr.querySelector('.param-value-display');
    const search_btn = tr.querySelector('.search-btn');
    
    if (datauid && display) {
      display.disabled = true;
      if (search_btn) search_btn.disabled = false;
    } else if (display) {
      display.disabled = false;
      if (search_btn) search_btn.disabled = true;
    }
  });

  // ✅ 페이지 복귀 시 선택 상태 복원
  const savedGendocuid = sessionStorage.getItem("doc_list_gendocuid");
  if (savedGendocuid) {
    const savedRow = document.querySelector(`tr[data-gendocuid="${savedGendocuid}"]`);
    if (savedRow) {
      savedRow.click(); // 기존 로직 재사용 (우측 필드까지 자동 세팅됨)
    }
  }
  // sessionStorage.removeItem("doc_list_gendocuid")
  // sessionStorage.removeItem("doc_list_start_date")
  // sessionStorage.removeItem("doc_list_end_date")
  // sessionStorage.removeItem("path")
  sessionStorage.clear()
});

document.querySelectorAll(".param-value-display").forEach(display => {
  display.addEventListener("input", function () {
    const paramnm = this.dataset.paramnm;
    const hidden = document.querySelector(
      `.param-value-hidden[data-paramnm="${paramnm}"]`
    );

    if (!hidden) return;

    // 검색 상태 해제
    if (this.dataset.fromSearch === "true") {
      delete this.dataset.fromSearch;
    }

    // 기본 상태: 항상 동일 값
    hidden.value = this.value;
  });
});

function applySearchResult(paramnm, key, label) {
  const display = document.querySelector(
    `.param-value-display[data-paramnm="${paramnm}"]`
  );
  const hidden = document.querySelector(
    `.param-value-hidden[data-paramnm="${paramnm}"]`
  );

  if (!display || !hidden) return;

  display.value = label;
  hidden.value = key;
  display.dataset.fromSearch = "true";
}

document.getElementById("help-btn").addEventListener("click", () => {
  // 1. 현재 페이지의 URL 정보
  const url = window.location.href;
  // 2. URL 객체로 파싱
  const urlObj = new URL(window.location.href);
  // 3. help 모달 호출
  show_help_base_modal(urlObj.pathname)
})
</script>
{% endblock %}

