{% extends 'pages/base.html' %}
{% load static %}
{% block title %}문서 작성 상태 조회{% endblock %}

{% block content %}
<style>
  :disabled{
    background-color: var(--secondary-200);
  }

  .info {
    text-align: center;
  }
</style>

<div class="page-title">
  <div style="display: flex; align-items: center;">
    <div class="gradient-bar"></div>
    <div>
      문서 작성 상태 조회: {{ gendocnm }}
    </div>
  </div>

  <button type="button" class="icon-btn" id="back-btn">
    <img src="{% static 'icons/back.svg' %}" alt="뒤로가기" class="icon-img config-icon">
  </button>
</div>

<!-- gendocs_data 상세 정보 -->
<div class="form-filter-group">
  <div class="filter-item">
    <label style="width: 120px;">문서 작성 일시: </label>
    <label style="width: 120px;">{{ createfiledts|default_if_none:'' }}</label>
  </div>
</div>

<div >
  <!-- genchapter_data 테이블 -->
  <div class="table-container">
    {% if gendocs_data %}
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th style="width: 20%;">챕터명</th>
            <th style="width:  6%;">작성자</th>
            <th style="width:  9%;">작성<br>일시</th>
            <th style="width:  6%;">수정자</th>
            <th style="width:  9%;">업로드<br>일시</th>
            <th style="width:  6%;">미반영<br>챕터</th>
            <th style="width:  6%;">항목수</th>
            <th style="width:  6%;">미반영<br>항목수</th>
          </tr>
        </thead>
        <tbody>
          {% for gendoc in gendocs_data %}
            <tr data-gendocuid="{{ gendoc.gendocuid }}"
                data-genchapteruid="{{ gendoc.genchapteruid }}">
              <td>{{ gendoc.chapternm }}</td>
              <td class="info" >{{ gendoc.createuser|default_if_none:'' }}</td>
              <td class="info" >{{ gendoc.createfiledts|default_if_none:'' }}</td>
              <td class="info" >{{ gendoc.updateuser|default_if_none:'' }}</td>
              <td class="info" >{{ gendoc.updatefiledts|default_if_none:'' }}</td>
              <td class="info" >{% if gendoc.new_chapteryn %}√{% else %}{% endif %}</td>
              <td class="info" >{{ gendoc.object_cnt|default_if_none:0 }}</td>
              <td class="info" >{{ gendoc.new_object_cnt|default_if_none:0 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>

<div class="form-group-left" style="justify-content: center; margin-top: 10px;">
  <button class="btn btn-link" onclick="chapter('{{ data_gendocuid }}')" >챕터 &#x279C;</button>
  <button class="btn btn-link" id="chapter-Object" disabled>챕터 항목 &#x279C;</button>
</div>


<script>
document.addEventListener("DOMContentLoaded", () => {
  sessionStorage.removeItem('doc_status_gendocuid')
  sessionStorage.removeItem('path')

  // ✅ 페이지 복귀 시 선택 상태 복원
  const savedChapterUid  = sessionStorage.getItem("doc_status_genchapteruid");
  if (savedChapterUid ) {
    const savedRow = document.querySelector(`tr[data-genchapteruid="${savedChapterUid}"]`);
    if (savedRow) {
      savedRow.click(); // 기존 로직 재사용 (우측 필드까지 자동 세팅됨)
      sessionStorage.removeItem('doc_status_genchapteruid');
    }
  }
})

// 챕터 관리 화면 이동
function chapter(genchapteruid) {
  
  const params = new URLSearchParams(window.location.search);
  const gendocs = params.get('gendocs');
  sessionStorage.setItem('doc_status_gendocuid', gendocs)
  sessionStorage.setItem('path', 'req_doc_status')

  // 화면 이동
  const url = `/req/req_chapters_read/?gendocs=${gendocs}`;
  // window.open(url);
  location.href = url;
}
// 항목 관리 화면 이동
function chapter_object(genchapteruid) {
  
  const params = new URLSearchParams(window.location.search);
  const gendocs = params.get('gendocs');
  sessionStorage.setItem('doc_status_gendocuid', gendocs)
  sessionStorage.setItem('doc_status_genchapteruid', genchapteruid)
  sessionStorage.setItem('path', 'req_doc_status')

  // 화면 이동
  const url = `/req/chapter_objects_read/?genchapteruid=${genchapteruid}`;
  // window.open(url);
  location.href = url;
}

// 각 행 선택을 위한 코드
const rows = document.querySelectorAll("table tbody tr[data-genchapteruid]");
rows.forEach(row => {
  row.addEventListener("click", function() {
    // console.log('ClickClick')
    const btn_object = document.getElementById('chapter-Object');

    // 1️⃣ 기존 선택 제거
    rows.forEach(r => r.classList.remove("selected-row"));

    // 2️⃣ 현재 행 하이라이트
    this.classList.add("selected-row");

    const genchapteruid = this.dataset.genchapteruid

    // console.log('GenChapterUID: ', genchapteruid)
    // 버튼 활성화 처리
    btn_object.disabled = false;
    btn_object.setAttribute("onclick", `chapter_object('${ genchapteruid }')`)
  })
})

document.getElementById("back-btn").addEventListener("click", () => {
    const gendocuid_orig = "{{gendocuid}}"
    
    // status 에서부터 온 값
    // const gendocuid = sessionStorage.getItem("chapter_read_gendocuid");
    const sep = sessionStorage.getItem("chapter_read_sep")
    const type = sessionStorage.getItem("chapter_read_type")

    const url = `/req/chapter_read/?sep=${sep}&type=${type}&gendocuid=${gendocuid_orig}`;
    // window.open(url);
    location.href = url;
});
</script>

{% endblock %}
